.NavBar{
    height: 100px;
    background-color: darksalmon;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.navButton{
    vertical-align: middle;
    text-align: center;
    width: 25%;
    height: 100px;
    border: none;
    background: darksalmon;
    margin: 0;
    padding: 0;
    font-size: larger;
    cursor: pointer;

}
.navButton:hover{
    background-color: #D07D61;
}
.navButton:active{
    background-color: #B66347;
}

.image{
    float: left;
}